/*Stylesheet for blog pages*/

/* || General Styles Site-wide*/

h1,
h2 {
  font-family: "Raleway", sans-serif;
  font-size: 26;
  font-stretch: 50%;
  padding: 0;
  margin-bottom: 20px;
}

h3,
h4 {
  font-family: Arial Narrow, sans-serif;
  font-weight: 400, 300;
  font-stretch: extra-expanded;
  font-size: 18, 14;
  line-height: normal;
  padding: 0;
  margin-bottom: 20px;
}

ul,
ol,
li {
  font-family: Arial Narrow, sans-serif;
  font-size: large;
  text-decoration: none;
  list-style: none;
}

/* || Header */

.menu {
  height: 50px;
  margin: 0;
  background-color: pink;
  padding: 10px;
}
.navbar {
  /* apply to unordered list tag */
  display: flex;
  justify-content: space-around;
}

.navbar li a {
  list-style: none;
  color: black;
  text-decoration: none;
  text-align: center;
}

.navbar a:hover {
  color: white;
}

.navbar a:active {
  border-bottom: 2px solid orange;
}

.main-banner {
  display: flex;
  justify-content: space-between;
  height: 100px;
  padding: 20px;
  margin: 0;
  background-color: rgba(219, 79, 163, 0.75); /*hex #DB4FA1*/
}
.title {
  text-align: center;
}
.title-div {
  flex: 1;
  height: 100px;
  margin: auto;
  text-align: center;
}
.page-div {
  flex: 2;
  height: 100px;
  text-align: center;
  margin: auto;
}
/* || Main */

.main-container {
  display: flex;
  background-color: rgba(53, 204, 121, 0.65);
}

.sidebar {
  background-color: rgba(219, 208, 173, 0.65);
  margin: 0;
  width: 20%;
  padding: 20px;
  min-height: 400px;
  min-width: 100px;
}

.sidebar img {
  width: 100%;
  height: auto;
  border: 2px solid grey;
}

.sidebar ul {
  margin-left: 0;
  padding: 0;
}

.sidebar li {
  line-height: 2em;
  font-size: 16px;
}

.sidebar li a {
  text-decoration: none;
  color: rgb(27, 98, 230);
}

.sidebar li a:hover {
  color: rgb(240, 238, 114);
  text-shadow: 1px 1px rgb(206, 126, 199);
}

.sidebar li a:visited {
  color: rgb(105, 6, 175);
}

.blog-div {
  /*the main div for the blog page*/
  font-family: Noto Sans KR, sans-serif;
  padding: 20px;
  width: 60%;
}

.post-div {
  /* third div in main, for links to blog posts, articles*/
  font-family: Noto Sans KR, sans-serif;
  padding: 20px;
  width: 20%;
  border-left: 5px solid magenta;
}

.post-div ul {
  margin-left: 0;
  padding: 0;
}

.post div li {
  line-height: 2em;
}
.post-div a {
  /*text style for post list hyperlinks*/
  font-family: Noto Sans KR, sans-serif;
  font-size: 14px;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  line-height: 2em;
}

post-div a:visited {
  color: purple;
}

post-div a:hover {
  color: white;
  font-weight: bold;
}
post-div a:active {
  color: orange;
}

.codetype {
  /*this is a div class for illustrating example code in the blog posts*/
  border: grey solid 1px;
  box-shadow: darkgrey 1px 2px;
  background-color: lightskyblue;
  font-family: "Courier New", Courier, monospace;
  margin: 5px;
  padding: 5px 5px 5px 30px;
}

/* || Footer */
footer {
  height: 120px;
  background-color: rgb(197, 200, 219);
  display: block;
  float: bottom;
  padding: 20px;
  font-family: Noto Sans KR, sans-serif;
  font-size: smaller;
}

/* || Special Div Classes */
