/* || General Styles Site-wide except for blog page (and project page)*/

/*Import fonts from Google Fonts*/

@import url("https://fonts.googleapis.com/css2?family=Rambla:ital,wght@1,700&family=Skranji&display=swap");

body {
  margin-top: 0px;
  margin-right: 0px;
  font-size: 14px;
}
h1,
h2 {
  font-family: "Raleway", sans-serif;
  font-size: 26;
  font-stretch: 50%;
  padding: 0;
  margin: 0;
}

h3 {
  font-family: "Skranji", cursive;
  font-weight: 700;
  font-size: 18;
  line-height: normal;
  padding: 0;
  margin: 0;
}

h4 {
  font-family: "Arial Narrow", sans-serif;
  font-size: 16;
}

h5 {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
}

ul,
ol,
li {
  font-family: "Arial Narrow", sans-serif;
  font-size: large;
  text-decoration: none;
  list-style: none;
}

/* || Header */

header {
  background-color: pink; /*hex conversion #FFC0CB*/
  background-image: linear-gradient(pink, rgb(245, 98, 176));
}

/*header div classes*/
.banner {
  display: grid;
  background-image: linear-gradient(pink, rgb(245, 98, 176));
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  padding: 20px;
}

.menu {
  /*div for the navbar*/
  height: 50px;
  margin: 0px;
  padding: 10px;
  background-color: none;
  border: 2px solid rgb(245, 98, 176);
}

.title-div,
.page-div {
  /*site name div and page name div, in header*/
  height: 100px;
  text-align: center;
}

.title-div > h3 {
  line-height: 40px;
}

@media screen and (max-width: 600px) {
  .banner {
    display: flex;
    flex-direction: column;
  }
}

/*ul and associated links class in header navbar*/
.navbar {
  display: flex;
  justify-content: space-around;
}

.navbar a {
  list-style: none;
  color: black;
  text-decoration: none;
  text-align: center;
}

.navbar a:hover {
  color: white;
}

.navbar a:active {
  border-bottom: 2px solid magenta;
}

.title {
  text-align: center;
}

/* || Main */
/*div classes*/
.main-container {
  display: grid;
  grid-template-columns: 20% 60% auto;
  background-color: #ccddff;
  border-top: 3px solid magenta;
  border-bottom: 3px solid magenta;
}

/*sidebar classes - scrollbar used in Resources page*/

.sidebar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding: 20px;
}

/* to preserve scroll functionality, without scrollbar: for Safari and chrome:*/
.sidebar::-webkit-scrollbar {
  display: none;
}

/*this class for experimentation, currently not used*/
.sidebar-scroll {
  height: 500px;
  background-color: rgba(219, 208, 173, 0.65);
  padding: 20px;
  overflow-y: scroll;
}

.sidebar-scroll::-webkit-scrollbar {
  width: 1em;
}
.sidebar-scroll::-webkit-scrollbar-track {
  background: red;
}
.sidebar-scroll::-webkit-scrollbar-thumb {
  background-color: red;
  outline: 1px solid slategrey;
}
/*  ///////////////////////////////////////////*/
.right-div {
  /*a placeholder div for the right side of main content*/
  padding: 20px;
  background: transparent;
}

.content-div {
  /*the main div for content*/
  font-family: Noto Sans KR, sans-serif;
  padding: 10px;
  padding-left: 20px;
  padding-top: 40px;
}

@media screen and (max-width: 600px) {
  .main-container {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }
  .sidebar {
    background-color: rgba(219, 208, 173, 0.65);
    margin: 0;
    padding: 20px;
    min-height: 100px;
  }

  .right-div {
    /*a placeholder div for the right side of main content*/
    display: none;
  }
}
/*list and link styles*/

.sidebar ul {
  margin-left: 0;
  padding: 0;
}

.sidebar li {
  line-height: 1.5em;
  font-size: 16px;
  padding: 2px 2px;
  margin: 1px 3px;
}

.sidebar a {
  text-decoration: none;
  color: rgb(245, 98, 176);
  font-weight: bold;
}

.sidebar a:hover {
  color: rgb(206, 126, 199);
  background-color: white;
  opacity: 0.5;
}

.sidebar a:visited {
  color: rgb(105, 6, 175);
}

.todo li {
  list-style-type: circle;
}
.content-div a {
  color: white;
  text-shadow: 1px 1px rgb(245, 98, 176);
  text-decoration: none;
}

.content-div a:visited {
  color: magenta;
  text-shadow: 2px 2px purple;
}

/* || Footer */
footer {
  height: auto;
  background-image: linear-gradient(rgb(245, 98, 176), magenta);
  opacity: 0.75;
  color: white;
  padding: 20px;
  font-family: Noto Sans KR, sans-serif;
  font-size: smaller;
}

/* || breakpoints for device types*/
/*@media screen and (max-width: 600px) {
  h1,
  h2 {
    font-size: smaller;
  }
  .menu {
    height: 150px;
  }
  .navbar {
    display: inline-flexbox;
    float: right;
    flex-direction: column;
  }
  .main-banner {
    display: inline-flexbox;
    float: left;
    flex-direction: column;
    justify-content: left;
    align-items: center;
  }

  .main-container {
    display: flexbox;
  }

  .sidebar {
    display: inline;
  }

  .intro-div {
    display: inline;
  }
}
*/
