/*add js- class names to classes to signal which elements have js relationships*/

/* || General Styles Site-wide*/

h1,
h2 {
  font-family: "Raleway", sans-serif;
  font-size: 26;
  font-stretch: 50%;
  padding: 0;
  margin-bottom: 20px;
}

h3 {
  font-family: Arial Narrow, sans-serif;
  font-weight: 700;
  font-size: 18;
  line-height: normal;
  padding: 0;
  margin: 0;
}

h4 {
  font-family: Arial Narrow, sans-serif;
  font-size: 16;
}

h5 {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  color: indianred;
}

ul,
ol,
li {
  font-family: Arial Narrow, sans-serif;
  font-size: large;
  text-decoration: none;
  list-style: none;
}

/* || Header */

.menu {
  height: 50px;
  margin: 0;
  background-color: pink;
  padding: 10px;
}
.navbar {
  /* apply to unordered list tag */
  display: flex;
  justify-content: space-around;
}

.navbar li a {
  list-style: none;
  color: black;
  text-decoration: none;
  text-align: center;
}

.navbar a:hover {
  color: white;
}

.navbar a:active {
  border-bottom: 2px solid orange;
}

/*Header div classes*/

/*header div classes*/
.banner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  padding: 20px;
  margin: 0px;
  background-color: rgba(219, 79, 163, 0.75); /*hex #DB4FA1*/
}

.menu {
  /*div for the navbar*/
  height: 50px;
  margin: 0px;
  padding: 10px;
}

.title-div {
  /*Div for name of site*/

  height: 100px;
  margin: auto;
  text-align: center;
}
.page-div {
  /*Div for name of page*/
  height: 100px;
  text-align: center;
  margin: auto;
}

.title {
  /*class for blog title-div heading1*/
  text-align: center;
}
/* || Main */

.main-container {
  display: flex;
  background-color: rgba(53, 204, 121, 0.65);
}

.sidebar {
  background-color: rgba(219, 208, 173, 0.65);
  margin: 0;
  width: 20%;
  padding: 20px 15px;
  min-width: 60px;
}

.sidebar img {
  width: 100%;
  height: auto;
}
@media screen and (max-width: 700px) {
  .sidebar img {
    display: none;
  }
  h1,
  h2 {
    font-size: 24px;
  }
}

.sidebar ul {
  margin-left: 0;
  padding: 0;
}

.sidebar li {
  line-height: 2em;
  font-size: 16px;
}

.sidebar li a {
  text-decoration: none;
  color: rgb(27, 98, 230);
}

.sidebar li a:hover {
  color: rgb(240, 238, 114);
  text-shadow: 1px 1px rgb(206, 126, 199);
}

.sidebar li a:visited {
  color: rgb(105, 6, 175);
}

.blog-div {
  /*the main div for the blog page*/
  font-family: Noto Sans KR, sans-serif;
  padding: 20px;
  width: 50%;
  border-left: 5px solid magenta;
  border-right: 5px solid magenta;
}

.blog-div h3 {
  font-size: 22;
  font-family: Noto Sans KR, sans-serif;
  letter-spacing: 1.5px;
}

.blog-div h4 {
  font-size: 20px;
  text-decoration: underline;
}

.blog-div span.emphatic {
  color: green;
  font-weight: 700;
  size: 30px;
}

.post-div {
  /* third div in main, for links to blog posts, articles*/
  font-family: Noto Sans KR, sans-serif;
  padding: 20px 15px;
  width: auto;
  min-width: 100px;
}
.post-div ul {
  margin-left: 0;
  padding: 0;
  line-height: 1.5em;
}

.post-div a {
  /*text style for post list hyperlinks*/
  font-family: Noto Sans KR, sans-serif;
  font-size: 14px;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  word-wrap: wrap;
}

post-div a:visited {
  color: purple;
}

post-div a:hover {
  color: white;
  font-weight: bold;
}
post-div a:active {
  color: orange;
}

.codetype {
  /*this is a div class for illustrating example code in the blog posts*/
  border: grey solid 1px;
  box-shadow: darkgrey 1px 2px;
  background-color: lightskyblue;
  font-family: "Courier New", Courier, monospace;
  margin: 5px;
  padding: 5px 5px 5px 30px;
}

/* || Footer */
footer {
  height: 150px;
  background-color: rgb(197, 200, 219);
  display: block;
  float: bottom;
  padding: 20px;
  font-family: Noto Sans KR, sans-serif;
  font-size: smaller;
}

footer a {
  text-decoration: none;
  color: black;
  font-weight: 700;
}

footer a:active {
  color: orange;
}

footer a:hover {
  color: pink;
  text-shadow: 1px 2px darkslateblue;
}

/*  attemp to create nested div for return-to-top link
#return-to-top {
  height: 30px;
  width: 150px;
  padding: 10px;
  background-color: aquamarine;
  display: flex;
  justify-content: space-around;
  text-align: center;
  text-decoration: none;
}*/
